<footer class="craftnest-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="footer-brand">
                    <img src="/assets/craftnest_marketplace/images/logo-white.png" alt="CraftNest" height="40">
                    <p class="mt-3">Discover unique handcrafted art from talented artisans around the world. Support local craftsmen and find one-of-a-kind pieces.</p>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about#faq">FAQs</a></li>
                    <li><a href="/terms">Terms & Conditions</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Sell With Us</h5>
                <ul class="footer-links">
                    <li><a href="/seller/register">Become a Seller</a></li>
                    <li><a href="/seller/dashboard">Seller Dashboard</a></li>
                    <li><a href="/seller/guidelines">Selling Guidelines</a></li>
                    <li><a href="/seller/faq">Seller FAQ</a></li>
                </ul>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4">
                <h5>Contact Us</h5>
                <div class="contact-info">
                    <p><i class="fa fa-map-marker"></i> 123 Artisan Street, Craft City, India</p>
                    <p><i class="fa fa-phone"></i> +91 98765 43210</p>
                    <p><i class="fa fa-envelope"></i> support@craftnest.com</p>
                </div>
                <div class="newsletter">
                    <h6>Subscribe to Newsletter</h6>
                    <form class="newsletter-form">
                        <input type="email" placeholder="Your email address">
                        <button type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2026 CraftNest Marketplace. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <img src="/assets/craftnest_marketplace/images/payment-icons.png" alt="Payment Methods" height="30">
                </div>
            </div>
        </div>
    </div>
</footer>
